:root {
  --title-color: #2e2f42;
  --text-colour: #f4f4fd;
  --second-text-color: #434455;
  --first-background-color: #2e2f42;
  --second-background-color: #f4f4fd;
  --header-title-color: #4d5ae5;
  --hightlight-color: #404bbf;
  --background-color: #ffffff;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
  list-style: none;
}

body {
  color: #434455;
  background-color: var(--background-color);
  font-family: "Roboto", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.top-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}

.top-title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
}

.secondary-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
  margin-bottom: 8px;
}

/* HEADER */

.header {
  color: #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-bottom: 1px solid #e7e9fc;
}

.header-navigation {
  display: flex;
}

.header-list {
  display: flex;
  gap: 40px;
  position: relative;
  color: var(--hightlight-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current:after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--hightlight-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.header-link.current {
  color: var(--hightlight-color);
}

.header-link:focus:after {
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--hightlight-color);
  border-radius: 2px;
  position: absolute;
  bottom: -1px;
  left: 0;
}

.header-link {
  padding: 24px 0 24px;
  position: relative;
  color: var(--hightlight-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address {
  margin-left: auto;
}

.header-address-list {
  display: flex;
  gap: 40px;
  padding: 24px 0 24px;
  position: relative;
}

.header-navigation {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  padding: 0 15px 0 15px;
}

.header-title {
  margin-right: 76px;
}

.header-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  position: relative;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-title-color);
}

.header-title-half {
  color: var(--title-color);
  line-height: 1.17;
}

.header-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--title-color);
  transition-property: transform;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition-duration: 250ms;
  transition-timing-function:var(--transition-timing); */
}

.header-link:hover {
  color: var(--hightlight-color);
}

.header-link:focus {
  color: var(--hightlight-color);
}

.header-address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  transition-property: transform;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address {
  font-style: normal;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing);
}

.header-address-link:hover {
  color: var(--hightlight-color);
}

.header-address-link:focus {
  color: var(--hightlight-color);
}

/* HERO */

.hero {
  background-color: var(--first-background-color);
  padding-top: 188px;
  padding-bottom: 188px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/homework4/hero-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1440px;
}

.hero-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 48px;
  max-width: 496px;
  margin: 0 auto;
}

.hero-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  min-width: 169px;
  height: 56px;
  color: #ffffff;
  background: var(--header-title-color);
  cursor: pointer;
  border: none;
  display: block;
  margin: 0 auto;
  margin-top: 48px;
  border-radius: 4px;
  transition-property: transform;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover {
  background-color: var(--hightlight-color);
}

.hero-btn:focus {
  background-color: var(--hightlight-color);
}

/* GOAL */

.goal {
  padding-top: 120px;
  padding-bottom: 120px;
}

.goal-list {
  display: flex;
  gap: 24px;
}

.goal-item {
  width: calc((100% - 72px) / 4);
}

.goal-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  width: 264px;
  height: 72px;
}

.goal-icons {
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100%;
  height: 112px;
  left: 0px;
  top: 0px;
  background: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ABOUT */

.about {
  padding-bottom: 120px;
}

.about-title {
  margin-bottom: 72px;
}

.about-list {
  display: flex;
  gap: 24px;
}

.about-item {
  width: calc((100% - 48px) / 3);
}

/* TEAM */

.team {
  background-color: var(--second-background-color);
  padding-top: 120px;
  padding-bottom: 120px;
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  background-color: #ffffff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  width: calc((100% - 72px) / 4);
}

.team-wrap {
  padding: 32px 16px 32px;
  text-align: center;
}

.team-text {
  text-align: center;
}

.team-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--header-title-color);
  transition-property: transform;
  /* transition-duration: 250ms;
  transition-timing-function:var(--transition-timing); */
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-icon-link:hover {
  background-color: var(--hightlight-color);
}

.team-icon-link:focus {
  background-color: var(--hightlight-color);
}

.team-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.team-soc-icons {
  fill: #f4f4fd;
}

/* CUSTOMERS */

.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-list {
  display: flex;
  gap: 24px;
}

.customers-item {
  width: calc((100% - 120px) / 6);
  height: 88px;
}

.customers-link {
  width: 100%;
  height: 100%;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #8e8f99;
  transition-property: transform;
  /* transition-duration: 250ms;
  transition-timing-function:var(--transition-timing); */
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-link:hover {
  border-color: var(--hightlight-color);
  color: var(--hightlight-color);
}

.customers-link:focus {
  border-color: var(--hightlight-color);
  color: var(--hightlight-color);
}

.customers-icon {
  fill: currentColor;
}

.customers-title {
  margin-bottom: 72px;
}

/* FOOTER */

.footer {
  background-color: var(--first-background-color);
  padding: 100px 0 100px;
}

.icon-container {
  display: flex;
  align-items: baseline;
}

.footer-title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: inline-block;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-title-color);
  margin-bottom: 16px;
}

.footer-title-half {
  color: var(--second-background-color);
  line-height: 1.17;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-background-color);
  max-width: 264px;
}

.footer-icon-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-icon-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--header-title-color);
  transition-property: transform;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition-duration: 250ms;
  transition-timing-function:var(--transition-timing); */
}

.footer-icon-link:hover {
  background-color: #31d0aa;
}

.footer-icon-link:focus {
  background-color: #31d0aa;
}

.footer-container {
  margin-right: 120px;
}

.footer-icon-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-soc-icons {
  fill: #f4f4fd;
}

.footer-subscribe {
  margin-left: 80px;
}

.subscribe-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  padding-left: 16px;
  color: #ffffff;
  outline: none;
}

.footer-input::placeholder {
  color: #ffffff;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto", sans-serif ;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  height: 40px;
  color: #ffffff;
  background: var(--header-title-color);
  min-width: 165px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition-property: transform;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-wrap {
  display: flex;
  gap: 24px;
}

.subscribe-icon {
  fill: #ffffff;
  margin-left: 16px;
}

.subscribe-btn:hover {
  background-color: var(--hightlight-color);
}

.subscribe-btn:focus {
  background-color: var(--hightlight-color);
}

/* PORTFOLIO */

.navigation-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  display: flex;
  letter-spacing: 0.04em;
  color: var(--header-title-color);
  background-color: #e7e9fc;
  border-radius: 4px;
  cursor: pointer;
  padding: 12px 24px;
  background: var(--second-background-color);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  transition-property: transform;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  /* transition-duration: 250ms;
  transition-timing-function:var(--transition-timing); */
}

.navigation-btn:hover {
  color: var(--background-color);
  background-color: var(--hightlight-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.navigation-btn:focus {
  color: var(--background-color);
  background-color: var(--hightlight-color);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.navigation-btn-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}

/* .navigation-btn-item {
  display: block;
  margin: 0 auto;
} */

.navigation-wrap {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.navigation-btn-section {
  padding: 96px 0 120px 0;
}

/* IMAGES */

.images-list {
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}

.images-item {
  width: calc((100% - 48px) / 3);
}

.images-link:hover .images-text {
  transform: translateY(0%);
}

.images-link:focus .images-text {
  transform: translateY(0%);
}

.images-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.images-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.images-link:focus {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.images-wrap {
  position: relative;
  overflow: hidden;
}

.images-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-background-color);
  position: absolute;
  top: 0;
  padding: 40px 32px;
  background-color: var(--header-title-color);
  height: 100%;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: var(--transition-timing);
}

/* MODAL */

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  top: 0;
  transition-property: transform;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 408px;
  min-height: 584px;
  border-radius: 4px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  padding: 72px 24px 24px 24px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  background-color: #e7e9fc;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  color: var(--first-background-color);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover {
  background-color: var(--hightlight-color);
  fill: #ffffff;
  border: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:focus {
  background-color: var(--hightlight-color);
  fill: #ffffff;
  border: none;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-field {
  position: relative;
  margin-bottom: 8px;
}

.modal-field-comment {
  margin-bottom: 16px;
}

.modal-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--first-background-color);
  margin-bottom: 16px;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  padding-left: 38px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
  color: var(--second-text-color);
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus {
  border-color: var(--header-title-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input:focus + .modal-icon {
  fill: var(--header-title-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
  
}

.input-wrap {
  position: relative;
}

.input-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-comment {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  letter-spacing: 0.04em;
  font-size: 12px;
  line-height: 1.17;
  color:rgba(46, 47, 66, 0.4); ;
  resize: none;
  outline: transparent;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-comment:focus {
  border-color: var(--header-title-color);
}

.modal-comment::placeholder {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

.check-text {
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-top: 16px;
  margin-bottom: 24px;
}

.check-text span {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  margin-right: 8px;
  align-items: center;
  justify-content: center;
  fill: transparent;
}

.check-wrap {
  display: inline-flex; 
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.check-link {
  color:var(--header-title-color);
}

.modal-check:checked + .check-text span {
  background-color: var(--hightlight-color);
  border: none;
  fill: var(--second-background-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-check {
  margin-bottom: 24px;
}

.modal-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  min-width: 169px;
  height: 56px;
  color: #ffffff;
  background: var(--header-title-color);
  cursor: pointer;
  border: none;
  display: block;
  margin: 0 auto;
  border-radius: 4px;
  transition-property: transform;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-btn:hover {
  background-color: var(--hightlight-color);
}

.modal-btn:focus {
  background-color: var(--hightlight-color);
}
